<section class="content purple-container" data-controller="speech">
  <div class="content__stage">
    <div class="content__container bounce">
      <%= image_tag "orakel.png", class: "content__orakel" %>
    </div>
  </div>
    <div class="typewriter-container typewriter-container__home">
    <div class="typewriter">
      <p class="subtitles__antwort" data-speech-target="text"></p>
    </div>
  </div>
</section>
