<section class="content">
  <div class="content__stage">
    <div class="cloud"></div>
    <div class="cloud_two"></div>
    <div class="content__container bounce">
      <%= image_tag "denken.png", class: "content__orakel" %>
    </div>
  </div>
  <h1>Wartet - ich denke nach.</h1>
  </section>
