<section class="content purple-container">
  <div class="content__stage">
    <div class="content__container bounce">
      <%= image_tag 'orakel.png', class: "content__orakel" %>
    </div>
  </div>
  <div class="typewriter-container typewriter-container__home">
    <div class="typewriter">
      <p class="subtitles__fragenm">Bei welcher Angelegenheit darf ich euch helfen?</p>
    </div>
  </div>
  <%= link_to "Bitte hilf mir, oh großes Orakel", denken_path, class: "primary-button" %>
</section>
