<h1>Todes Noice oder goarnicht noice.... das ist hier die Frage</h1>
<p>Das mächtige L-town Orakel wird sich anhören was ihr vorzutragen habt und entscheiden.</p>
<%= link_to "Jetzt befragen", fragen_path %>
