<section class="content">
  <!-- Glich Heading -->
  <div class="container">
    <div class="glitch" data-text="TODES NOICE">TODES NOICE</div>
    <div class="glow">TODES NOICE</div>
    <p class="subtitle">oder goarnicht noice...das ist hier die Frage </p>
  </div>
  <div class="scanlines"></div>

  <div class="typewriter-container typewriter-container__home">
    <div class="typewriter subtitles">
      <p class="subtitles__home">Click anywhere to proceed...</p>
    </div>
  </div>
  <%= link_to "", fragen_path, class: "whole-page-link" %>

</section>
