.subtitles {
  color: #A9A9A9;
  text-transform: uppercase;
  font-style: italic;

  &__home {
    font-size: 0.88vw;
  }

  &__fragen {
    font-size: var(--step-2);
    line-height: var(--step-3);
  }

  &__antwort {
    font-size: var(--step-1);
    line-height: var(--step-3);
  }
}

.arrow-link {
  fill: white;
  cursor: pointer;
}
